html, body {
    margin: 0;
    padding: 0;
}
:root {
    --hcolor:black;
    --gridHeight: 10;
    --gridWidth: 10;
}
.sidebar {
    background-color: gray;
    position: fixed;
    width: 20%;
    height: 100%;
}
input {
    width: 90%;
}
.container {
    display: grid;
    grid-template-columns: repeat(var(--gridWidth),1fr);
    grid-template-rows: repeat(var(--gridHeight),1fr);
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
}
.grid-item {
    background-color: white;
    grid-column-start: auto;
    grid-row-start: auto;
/*    grid-column: 1;*/
/*    grid-row: 2;*/
    outline-color: black;
    outline: solid 1px;
}

.grid-item:hover {
    background-color: var(--hcolor);
}
